COMPOSE_PROJECT_NAME=emr
BIND_IP=127.0.0.1

POSTGRES_DB=emr
POSTGRES_USER=emr_owner
POSTGRES_PASSWORD=change_me
EMR_APP_USER=emr_app
EMR_APP_PASSWORD=change_me

REDIS_PASSWORD=change_me

MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
MINIO_ROOT_USER=emr_minio_admin
MINIO_ROOT_PASSWORD=change_me
MINIO_BUCKET=emr-documents
